.sidebar{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}

.list{
    padding-top: 50px;
}

.list li{
    margin-bottom: 50px;
    cursor: pointer;
}

.project{
    color: var(--hover-color);
}