.sidebar{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    text-wrap: nowrap;
    padding: 12px;
}

.list{
    padding-top: 50px;
}

.list li{
    margin-bottom: 50px;
    cursor: pointer;
}

.list h5{
    font-size: 10px;
    font-weight: 400;
}

.project{
    color: var(--hover-color);
}

@media (max-width: 980px){

.sidebar{
    height: auto;
    position: absolute;
    bottom: 0;
}

.list{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60px;
    font-size: 2rem;
    padding-top: 0px;
}

.list svg{
    font-size: 4.6728971963vw;
}

}

@media (max-width: 480px){

.sidebar{
    padding: 5px;
}

}